# Python
__pycache__/
*.py[cod]
*.pyo
.env

# Virtual Environment
backend/venv/

# Audio uploads
backend/audio_uploads/
backend/document_uploads/

# ChromaDB
backend/chroma_db/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Database
*.db
*.sqlite
*.sqlite3
